 body{
    background-color: #FFFFFF;
    font-family: 'Signika' !important;
    color: #666 !important;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Fira Sans Condensed' !important;
    font-style: normal;
    font-weight: 600 !important;
}
a{
    text-decoration: none !important;
    color: #666;
}
img {
    max-width: 100%;
    height: auto;
} 




/* Entry meta */
.updated:not(.published) {
	display: none;
}

.container {
    background: #FFFFFF !important;
    padding: 50px 30px !important;
    border-radius: 5px;
}
