 body{
    background-color: #FFFFFF;
    font-family: 'Signika' ;
    color: #666 ;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Fira Sans Condensed' ;
    font-style: normal;
    font-weight: 600 ;
}
a{
    text-decoration: none ;
    color: #666;
}
img {
    max-width: 100%;
    height: auto;
} 




/* Entry meta */
.updated:not(.published) {
	display: none;
}

.container {
    background: #FFFFFF ;
    padding: 50px 30px ;
    border-radius: 5px;
}

